@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
body{
  font-family: "Bai Jamjuree", sans-serif;
  color: hsl(210, 10%, 33%);
}
.hero-section{
  background-image: url("./images/bg-header-desktop.png");
  background-size: cover;
  background-repeat: no-repeat;

}
p{
  color: hsl(201, 11%, 66%);
}
.row{
  margin-right: 0;
  margin-left: 0;
}
.btn-ios{
  background-color:  hsl(171, 66%, 44%);
  color: white;
  box-shadow: 1px 1px 1px hsl(171, 77%, 25%), -1px -1px 1px hsl(171, 88%, 20%);
  width: 80%;
  border-radius: 20px;
  transition: 0.3s ease;
  max-width: 200px;
}
.btn-mac{
  background-color:  hsl(233, 100%, 69%);
  color: white;
  box-shadow: 1px 1px 1px hsl(233, 100%, 54%), -1px -1px 1px hsl(233, 100%, 54%);
  width: 80%;
  border-radius: 20px;
  transition: 0.3s ease;
  max-width: 200px;
}
.col-sm-custom {
    flex: 0 0 12.5%;
    max-width: 12.5%;
}
.bg-custom{
  background: hsl(201, 11%, 66%);
}
.text-custom{
  color: hsl(210, 10%, 33%);
}
.container-fluid{
  padding-left: 0;
  padding-right: 0;
}