
<div class="card tech-card">
  <div class="card-img-wrapper">
    <img src="https://picsum.photos/600/400" alt="" class="card-title-image" />
  </div>
  <div class="card-body tech-card-body">
    <span class="tech-card-badge">Learning</span
    ><span class="tech-card-date">Published 21 Dec 2023</span>
    <h2 class="card-title tech-card-title">HTML & CSS foundations</h2>
    <p class="tech-card-description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus iusto
      quo nesciunt quidem minus repellendus temporibus vero. Dolore dignissimos
      cum consectetur id corporis odio iure, quasi beatae mollitia. Iusto,
      harum.
    </p>
  </div>
</div>
